@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.signup__header, .signin__header {
  height: 164px;
  color: white;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Cabin;
  background-position: center bottom -71px;
  -webkit-box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.4) inset;
          box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.4) inset;
  -webkit-border-top-left-radius: inherit;
          border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
          border-top-right-radius: inherit; }

.signup__header--registered, .signin__header--registered {
  position: absolute;
  top: 13%;
  right: 4.2%;
  font-size: 16px; }

.signup__form--login, .signup__form--password, .signin__form--login, .signin__form--password, .smallup__form--login, .smallup__form--password, .smallin__form--login, .smallin__form--password, .reset__form--login, .subscribing__form--login, .contact__name--input, .contact__email--input, .contact__subject--input, .contact__budget--input, .contact__message--input {
  background-repeat: no-repeat;
  background-position: 15px;
  background-position-y: 45%;
  font-family: Cabin;
  font-size: 16px;
  font-weight: bold;
  color: #c6ccd2;
  height: 51px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  margin-left: -2px;
  padding: 0 50px;
  width: -webkit-calc(100% - 100px);
  width: calc(100% - 100px);
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin-top: 37px;
  border: #c6ccd2 2px solid;
  outline: none; }
  .signup__form--login::-webkit-input-placeholder, .signup__form--password::-webkit-input-placeholder, .signin__form--login::-webkit-input-placeholder, .signin__form--password::-webkit-input-placeholder, .smallup__form--login::-webkit-input-placeholder, .smallup__form--password::-webkit-input-placeholder, .smallin__form--login::-webkit-input-placeholder, .smallin__form--password::-webkit-input-placeholder, .reset__form--login::-webkit-input-placeholder, .subscribing__form--login::-webkit-input-placeholder, .contact__name--input::-webkit-input-placeholder, .contact__email--input::-webkit-input-placeholder, .contact__subject--input::-webkit-input-placeholder, .contact__budget--input::-webkit-input-placeholder, .contact__message--input::-webkit-input-placeholder {
    font-family: Cabin;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #c6ccd2; }
  .signup__form--login::-moz-placeholder, .signup__form--password::-moz-placeholder, .signin__form--login::-moz-placeholder, .signin__form--password::-moz-placeholder, .smallup__form--login::-moz-placeholder, .smallup__form--password::-moz-placeholder, .smallin__form--login::-moz-placeholder, .smallin__form--password::-moz-placeholder, .reset__form--login::-moz-placeholder, .subscribing__form--login::-moz-placeholder, .contact__name--input::-moz-placeholder, .contact__email--input::-moz-placeholder, .contact__subject--input::-moz-placeholder, .contact__budget--input::-moz-placeholder, .contact__message--input::-moz-placeholder {
    font-family: Cabin;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #c6ccd2; }
  .signup__form--login:-ms-input-placeholder, .signup__form--password:-ms-input-placeholder, .signin__form--login:-ms-input-placeholder, .signin__form--password:-ms-input-placeholder, .smallup__form--login:-ms-input-placeholder, .smallup__form--password:-ms-input-placeholder, .smallin__form--login:-ms-input-placeholder, .smallin__form--password:-ms-input-placeholder, .reset__form--login:-ms-input-placeholder, .subscribing__form--login:-ms-input-placeholder, .contact__name--input:-ms-input-placeholder, .contact__email--input:-ms-input-placeholder, .contact__subject--input:-ms-input-placeholder, .contact__budget--input:-ms-input-placeholder, .contact__message--input:-ms-input-placeholder {
    font-family: Cabin;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #c6ccd2; }
  .signup__form--login::-ms-input-placeholder, .signup__form--password::-ms-input-placeholder, .signin__form--login::-ms-input-placeholder, .signin__form--password::-ms-input-placeholder, .smallup__form--login::-ms-input-placeholder, .smallup__form--password::-ms-input-placeholder, .smallin__form--login::-ms-input-placeholder, .smallin__form--password::-ms-input-placeholder, .reset__form--login::-ms-input-placeholder, .subscribing__form--login::-ms-input-placeholder, .contact__name--input::-ms-input-placeholder, .contact__email--input::-ms-input-placeholder, .contact__subject--input::-ms-input-placeholder, .contact__budget--input::-ms-input-placeholder, .contact__message--input::-ms-input-placeholder {
    font-family: Cabin;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #c6ccd2; }
  .signup__form--login::placeholder, .signup__form--password::placeholder, .signin__form--login::placeholder, .signin__form--password::placeholder, .smallup__form--login::placeholder, .smallup__form--password::placeholder, .smallin__form--login::placeholder, .smallin__form--password::placeholder, .reset__form--login::placeholder, .subscribing__form--login::placeholder, .contact__name--input::placeholder, .contact__email--input::placeholder, .contact__subject--input::placeholder, .contact__budget--input::placeholder, .contact__message--input::placeholder {
    font-family: Cabin;
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    color: #c6ccd2; }

.wrapper {
  width: 83.9%;
  margin: 6.7% auto;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  position: relative; }

.signup {
  -webkit-flex-basis: 530px;
      -ms-flex-preferred-size: 530px;
          flex-basis: 530px;
  width: 46.8%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .signup__header {
    background-image: url(../img/Sign_Up_Form.jpg); }
    .signup__header--signup {
      font-size: 40px; }
  .signup__form {
    width: 86%;
    margin: 0 auto;
    text-align: center; }
    .signup__form--login {
      background-image: url(../img/Login.jpg); }
    .signup__form--password {
      background-image: url(../img/Password.jpg);
      margin-top: 25px;
      margin-bottom: 14px; }
    .signup__form--forgot {
      font-style: Cabin;
      font-weight: bold;
      font-size: 18px;
      color: #b4bbc2; }
    .signup__form--signupbtn {
      width: 100%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #65abd0;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      height: 55px;
      margin: 24px 0; }
    .signup__form--or {
      overflow: hidden;
      width: 100%;
      height: 52px;
      margin: 0 auto;
      font-family: Cabin;
      font-size: 16px;
      font-weight: bold;
      color: #c6ccd2; }
      .signup__form--or::before, .signup__form--or::after {
        content: '';
        /* делаем линию строчно-блочной */
        display: inline-block;
        /* выравниваем вертикально по середине */
        vertical-align: middle;
        /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        /* установка ширины в 100% делает линию равной ширине тега заголовка
					** благодаря этому линия заполнит все свободное пространство
					** слева и справа от текста
					*/
        width: 100%;
        height: 2px;
        background: #c6ccd2;
        /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
					** благодаря этому создается нужный отступ между линиями и текстом
					*/
        border: solid #f2f5f8;
        border-width: 0 10px; }
      .signup__form--or::before {
        margin-left: -100%; }
      .signup__form--or::after {
        margin-right: -100%; }
    .signup__form--facebookbtn {
      width: 47%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #3162a2;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none; }
    .signup__form--twitterbtn {
      width: 47%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #65abd0;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none; }
  .signup__btncontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.signin {
  -webkit-flex-basis: 530px;
      -ms-flex-preferred-size: 530px;
          flex-basis: 530px;
  width: 46.8%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .signin__header {
    background-image: url(../img/Sign_In_Form.jpg); }
    .signin__header--signin {
      font-size: 40px; }
  .signin__form {
    width: 86%;
    margin: 0 auto;
    text-align: center; }
    .signin__form--login {
      background-image: url(../img/Login.jpg); }
    .signin__form--password {
      background-image: url(../img/Password.jpg);
      margin-top: 25px; }
    .signin__form--label {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      margin-top: 14px;
      font-style: Cabin;
      font-weight: bold;
      font-size: 18px;
      color: #b4bbc2;
      float: left;
      padding-left: 25px;
      display: inline-block;
      position: relative; }
      .signin__form--label i::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: -1px;
        left: 0;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 7px;
                border-radius: 7px;
        background-color: #24aa98; }
    .signin__form--checkbox {
      display: none; }
      .signin__form--checkbox:checked + i:before {
        content: '\2713';
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
        line-height: 22px; }
    .signin__form--signinbtn {
      width: 100%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #24aa98;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      height: 55px;
      margin: 24px 0; }
    .signin__form--or {
      overflow: hidden;
      width: 100%;
      height: 52px;
      margin: 0 auto;
      font-family: Cabin;
      font-size: 16px;
      font-weight: bold;
      color: #c6ccd2; }
      .signin__form--or::before, .signin__form--or::after {
        content: '';
        /* делаем линию строчно-блочной */
        display: inline-block;
        /* выравниваем вертикально по середине */
        vertical-align: middle;
        /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        /* установка ширины в 100% делает линию равной ширине тега заголовка
					** благодаря этому линия заполнит все свободное пространство
					** слева и справа от текста
					*/
        width: 100%;
        height: 2px;
        background: #c6ccd2;
        /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
					** благодаря этому создается нужный отступ между линиями и текстом
					*/
        border: solid #f2f5f8;
        border-width: 0 10px; }
      .signin__form--or::before {
        margin-left: -100%; }
      .signin__form--or::after {
        margin-right: -100%; }
    .signin__form--facebookbtn {
      width: 47%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #3162a2;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none; }
    .signin__form--twitterbtn {
      width: 47%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #65abd0;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none; }
  .signin__btncontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 24px; }

.wrapper__small {
  margin: 0 auto;
  margin-bottom: 10px; }

.smallup {
  width: 30.2%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .smallup__header {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative; }
    .smallup__header--registered {
      position: absolute;
      top: 0;
      right: 4.8%;
      font-size: 16px;
      font-family: Cabin;
      color: #65abd0; }
    .smallup__header--signup {
      position: absolute;
      top: 0;
      left: 7%;
      font-size: 20px;
      font-family: Cabin;
      font-weight: bold; }
  .smallup__btncontainer {
    margin-top: -20px;
    margin-bottom: 40px; }
  .smallup__form {
    width: 79%;
    margin: 0 auto;
    text-align: center; }
    .smallup__form--login {
      background-image: url(../img/Login.jpg); }
    .smallup__form--password {
      background-image: url(../img/Password.jpg);
      margin-top: 25px;
      margin-bottom: 14px; }
    .smallup__form--forgot {
      font-style: Cabin;
      font-weight: bold;
      font-size: 18px;
      color: #b4bbc2; }
    .smallup__form--signupbtn {
      width: 100%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #65abd0;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      height: 55px;
      margin: 24px 0; }
    .smallup__form--or {
      overflow: hidden;
      width: 100%;
      height: 52px;
      margin: 0 auto;
      font-family: Cabin;
      font-size: 16px;
      font-weight: bold;
      color: #c6ccd2; }
      .smallup__form--or::before, .smallup__form--or::after {
        content: '';
        /* делаем линию строчно-блочной */
        display: inline-block;
        /* выравниваем вертикально по середине */
        vertical-align: middle;
        /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        /* установка ширины в 100% делает линию равной ширине тега заголовка
					** благодаря этому линия заполнит все свободное пространство
					** слева и справа от текста
					*/
        width: 100%;
        height: 2px;
        background: #c6ccd2;
        /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
					** благодаря этому создается нужный отступ между линиями и текстом
					*/
        border: solid #f2f5f8;
        border-width: 0 10px; }
      .smallup__form--or::before {
        margin-left: -100%; }
      .smallup__form--or::after {
        margin-right: -100%; }
    .smallup__form--facebookbtn {
      width: 47%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #3162a2;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none; }
    .smallup__form--twitterbtn {
      width: 47%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #65abd0;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none; }
  .smallup__btncontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .smallup__form--password {
    margin-bottom: 17px; }
  .smallup__form--forgot {
    font-size: 16px; }
  .smallup__form--signupbtn {
    margin-top: 40px;
    margin-bottom: 20px; }
  .smallup__form--facebookbtn {
    font-size: 16px;
    height: 42px; }
  .smallup__form--twitterbtn {
    font-size: 16px;
    height: 42px; }

.smallin {
  width: 30.2%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .smallin__header {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative; }
    .smallin__header--registered {
      position: absolute;
      top: 0;
      right: 4.8%;
      font-size: 16px;
      font-family: Cabin;
      color: #65abd0; }
    .smallin__header--signin {
      position: absolute;
      top: 0;
      left: 7%;
      font-size: 20px;
      font-family: Cabin;
      font-weight: bold; }
  .smallin__btncontainer {
    margin-top: -20px;
    margin-bottom: 40px; }
  .smallin__form {
    width: 79%;
    margin: 0 auto;
    text-align: center; }
    .smallin__form--login {
      background-image: url(../img/Login.jpg); }
    .smallin__form--password {
      background-image: url(../img/Password.jpg);
      margin-top: 25px; }
    .smallin__form--label {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      margin-top: 14px;
      font-style: Cabin;
      font-weight: bold;
      font-size: 18px;
      color: #b4bbc2;
      float: left;
      padding-left: 25px;
      display: inline-block;
      position: relative; }
      .smallin__form--label i::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: -1px;
        left: 0;
        width: 20px;
        height: 20px;
        -webkit-border-radius: 7px;
                border-radius: 7px;
        background-color: #24aa98; }
    .smallin__form--checkbox {
      display: none; }
      .smallin__form--checkbox:checked + i:before {
        content: '\2713';
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 13px;
        line-height: 22px; }
    .smallin__form--signinbtn {
      width: 100%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #24aa98;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      height: 55px;
      margin: 24px 0; }
    .smallin__form--or {
      overflow: hidden;
      width: 100%;
      height: 52px;
      margin: 0 auto;
      font-family: Cabin;
      font-size: 16px;
      font-weight: bold;
      color: #c6ccd2; }
      .smallin__form--or::before, .smallin__form--or::after {
        content: '';
        /* делаем линию строчно-блочной */
        display: inline-block;
        /* выравниваем вертикально по середине */
        vertical-align: middle;
        /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        /* установка ширины в 100% делает линию равной ширине тега заголовка
					** благодаря этому линия заполнит все свободное пространство
					** слева и справа от текста
					*/
        width: 100%;
        height: 2px;
        background: #c6ccd2;
        /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
					** благодаря этому создается нужный отступ между линиями и текстом
					*/
        border: solid #f2f5f8;
        border-width: 0 10px; }
      .smallin__form--or::before {
        margin-left: -100%; }
      .smallin__form--or::after {
        margin-right: -100%; }
    .smallin__form--facebookbtn {
      width: 47%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #3162a2;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none; }
    .smallin__form--twitterbtn {
      width: 47%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #65abd0;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none; }
  .smallin__btncontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 24px; }
  .smallin__form--login {
    background-image: url(../img/Login_black.jpg);
    color: black; }
    .smallin__form--login::-webkit-input-placeholder {
      color: black; }
    .smallin__form--login::-moz-placeholder {
      color: black; }
    .smallin__form--login:-ms-input-placeholder {
      color: black; }
    .smallin__form--login::-ms-input-placeholder {
      color: black; }
    .smallin__form--login::placeholder {
      color: black; }
  .smallin__form--password {
    background-image: url(../img/Password_black.jpg);
    margin-bottom: 17px;
    color: black; }
    .smallin__form--password::-webkit-input-placeholder {
      color: black; }
    .smallin__form--password::-moz-placeholder {
      color: black; }
    .smallin__form--password:-ms-input-placeholder {
      color: black; }
    .smallin__form--password::-ms-input-placeholder {
      color: black; }
    .smallin__form--password::placeholder {
      color: black; }
  .smallin__form--label {
    margin-top: 0;
    font-size: 16px; }
    .smallin__form--label i::before {
      width: 18px;
      height: 18px; }
  .smallin__form--checkbox:checked + i:before {
    line-height: 19px; }
  .smallin__form--signinbtn {
    margin-top: 40px;
    margin-bottom: 20px; }
  .smallin__form--facebookbtn {
    font-size: 16px;
    height: 42px; }
  .smallin__form--twitterbtn {
    font-size: 16px;
    height: 42px; }

.wrapper__smallest {
  width: 30.2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.reset {
  width: 100%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .reset__header {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative; }
    .reset__header--signin {
      position: absolute;
      top: 0;
      right: 4.8%;
      font-size: 16px;
      font-family: Cabin;
      color: #65abd0; }
    .reset__header--reset {
      position: absolute;
      top: 0;
      left: 7%;
      font-size: 20px;
      font-family: Cabin;
      font-weight: bold; }
  .reset__form {
    width: 79%;
    margin: 0 auto; }
    .reset__form--login {
      background-image: url(../img/Login.jpg); }
    .reset__form--btn {
      width: 100%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #db7560;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      margin-top: 24px;
      margin-bottom: 40px;
      height: 54px; }

.subscribing {
  width: 100%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .subscribing__header {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative; }
    .subscribing__header--subscribing {
      position: absolute;
      top: 0;
      left: 7%;
      font-size: 20px;
      font-family: Cabin;
      font-weight: bold; }
  .subscribing__form {
    width: 79%;
    margin: 0 auto;
    margin-top: 0; }
    .subscribing__form--login {
      background-image: url(../img/Login.jpg);
      width: -webkit-calc(76% - 100px);
      width: calc(76% - 100px);
      margin-top: 0px;
      height: 48px; }
    .subscribing__form--btn {
      width: 18%;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #d9c26c;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      margin-bottom: 40px; }
  .subscribing__text {
    width: 79%;
    font-family: Cabin;
    font-size: 16px;
    color: #c6ccd2;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 17px; }

.contact {
  width: 65%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .contact__form {
    width: 90%;
    margin: 0 auto; }
  .contact__personal, .contact__other {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .contact__personal {
    margin-top: 67px; }
  .contact__other {
    margin-top: 26px;
    margin-bottom: 26px; }
  .contact__contact {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 20px;
    font-family: Cabin;
    font-weight: bold; }
  .contact__name, .contact__email, .contact__subject, .contact__budget {
    width: 270px; }
  .contact__name--input, .contact__email--input, .contact__subject--input, .contact__budget--input, .contact__message--input {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
    padding: 0;
    padding-left: 10px;
    margin: 0;
    color: black;
    margin-top: 11px; }
  .contact__budget--input {
    background-color: #65abd0;
    color: white;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  .contact__budget {
    position: relative; }
    .contact__budget i {
      pointer-events: none;
      position: absolute;
      right: 10px;
      top: 55%;
      font-size: 20px;
      color: white; }
  .contact__message--input {
    padding-top: 10px;
    width: 100%;
    height: 132px;
    margin-bottom: 26px; }
  .contact__text {
    font-family: Cabin;
    font-size: 16px;
    font-weight: bold;
    color: #c6ccd2; }
  .contact__copy {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    margin-top: 14px;
    font-style: Cabin;
    font-weight: bold;
    font-size: 16px;
    color: #b4bbc2;
    float: left;
    padding-left: 25px;
    display: inline-block;
    position: relative; }
    .contact__copy i::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: -2px;
      left: 0;
      width: 19px;
      height: 19px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      background-color: #24aa98; }
    .contact__copy--checkbox {
      display: none; }
      .contact__copy--checkbox:checked + i:before {
        content: '\2713';
        color: white;
        text-align: center;
        border-color: #24aa98;
        font-weight: 600;
        font-size: 11px;
        -webkit-border-radius: 6px;
                border-radius: 6px;
        background-color: #24aa98;
        line-height: 18px; }
  .contact__btn {
    width: 135px;
    height: 52px;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    border: none;
    background-color: #24aa98;
    color: white;
    font-style: Cabin;
    font-size: 20px;
    outline: none;
    float: right;
    margin-bottom: 26px; }

.minicontact {
  width: 30.2%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .minicontact__form {
    width: 79%;
    margin: 0 auto; }
  .minicontact__message--input {
    width: 260px; }
  .minicontact__name {
    margin-top: 67px; }
  .minicontact__name, .minicontact__email {
    margin-bottom: 26px; }

.cart {
  width: 83.9%;
  background-color: #f2f5f8;
  -webkit-border-radius: 6px;
          border-radius: 6px; }
  .cart__text {
    font-family: Cabin;
    font-size: 18px;
    color: black;
    font-weight: bold;
    vertical-align: middle; }
    .cart__text--main {
      font-size: 16px;
      color: #b4bbc2;
      font-weight: normal; }
  .cart__line {
    width: 87.8%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 60px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-top: 13px;
    border-bottom: solid 2px #c6ccd2; }
  .cart__main {
    padding-top: 70px; }
  .cart__cart {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 20px;
    font-family: Cabin;
    font-weight: bold; }
  .cart__item {
    -webkit-flex-basis: 448px;
        -ms-flex-preferred-size: 448px;
            flex-basis: 448px;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .cart__item--main {
      padding-left: 98px;
      -webkit-flex-basis: 350px;
          -ms-flex-preferred-size: 350px;
              flex-basis: 350px; }
    .cart__item--photo {
      margin-right: 20px; }
  .cart__form {
    position: relative;
    margin-top: 10px; }
    .cart__form--color {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      position: relative; }
      .cart__form--color i::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 2px;
        left: 8px;
        width: 17px;
        height: 17px;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
      .cart__form--color .cart__color--yellow:before {
        background-color: #d9c26c; }
      .cart__form--color .cart__color--blue:before {
        background-color: #65abd0;
        left: 33px; }
    .cart__form--yellow {
      display: none; }
      .cart__form--yellow:checked + .cart__color--yellow:before {
        content: '\2713';
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 11px;
        line-height: 18px; }
    .cart__form--blue {
      display: none; }
      .cart__form--blue:checked + .cart__color--blue:before {
        content: '\2713';
        color: white;
        text-align: center;
        font-weight: 600;
        font-size: 11px;
        line-height: 18px; }
    .cart__form--caption {
      color: #b4bbc2;
      font-size: 16px; }
  .cart__price {
    -webkit-flex-basis: 45px;
        -ms-flex-preferred-size: 45px;
            flex-basis: 45px;
    text-align: left; }
  .cart__quantity {
    -webkit-flex-basis: 78px;
        -ms-flex-preferred-size: 78px;
            flex-basis: 78px;
    text-align: center; }
    .cart__quantity--minus {
      width: 25px;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #db7560;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      height: 25px; }
    .cart__quantity--plus {
      width: 25px;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #24aa98;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      height: 25px; }
    .cart__quantity--sum {
      display: inline-block;
      width: 18px;
      padding-bottom: 5px; }
  .cart__total {
    -webkit-flex-basis: 30px;
        -ms-flex-preferred-size: 30px;
            flex-basis: 30px;
    text-align: right; }
  .cart__subtotal {
    width: 87.8%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 60px;
    padding-right: 100px;
    padding-bottom: 14px;
    padding-top: 26px;
    position: relative; }
    .cart__subtotal--text {
      color: #b4bbc2;
      font-size: 16px; }
    .cart__subtotal--price {
      position: absolute;
      right: 48px;
      top: 23px; }
  .cart__footer {
    padding-top: 16px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 60px;
    width: 92%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .cart__footer--continue {
      color: #65abd0;
      font-weight: normal; }
    .cart__footer--btn {
      width: 157px;
      height: 52px;
      -webkit-border-radius: 7px;
              border-radius: 7px;
      border: none;
      background-color: #24aa98;
      color: white;
      font-style: Cabin;
      font-size: 20px;
      outline: none;
      height: 48px;
      color: white; }
