.cart {
    @include sign(83.9%);

    &__text {
        font-family: $font-face;
        font-size: 18px;
        color: black;
        font-weight: normal;
        vertical-align: middle;

        &--main {
            font-size: 16px;
            color: $cart-text;
            font-weight: normal;
        }
    }

    &__line {
        width: 87.8%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
        padding-right: 20px;
        padding-bottom: 14px;
        padding-top: 13px;
        border-bottom: solid 2px $grey-text;
    }

    &__main {        
        padding-top: 70px;
    }

    &__cart {
        position: absolute;
		top: 20px;
		left: 25px;		
		font-size: 20px;
		font-family: $font-face;
		font-weight: bold;
    }

    &__item {
        flex-basis: 448px;
        text-align: left;
        display: flex;
        align-items: center;

        &--main {
            padding-left: 98px;
            flex-basis: 350px;
        }

        &--photo {
            margin-right: 20px;
        }
    }

    &__form {

        position: relative;
        margin-top: 10px;

        &--color {
            user-select: none;
            position: relative;

            i::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 2px;
                left: 8px;
                width: 17px;
                height: 17px;
                border-radius: 50%;
            }

            .cart__color--yellow:before {        
                background-color: $item-yellow;
            }
            
            .cart__color--blue:before {        
                background-color: $item-blue;
                left: 33px;
            }

            .cart__color--green:before {        
                background-color: $item-green;
                left: calc(33px + 25px);
            }

            .cart__color--red:before {        
                background-color: $item-red;
                left: calc(33px + 2 * 25px);
            }

            .cart__color--brown:before {        
                background-color: $item-brown;
            }

            .cart__color--black:before {        
                background-color: $item-black;
                left: calc(33px + 3 * 25px);
            }

            .shoes__color--black:before {
                left: 33px;
            }
        }

        &--yellow {
            display: none;

            &:checked + .cart__color--yellow:before {
                content: '\2713';
                color: white;
                text-align: center;
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
            }
        }

        &--blue {
            display: none;

            &:checked + .cart__color--blue:before {
                content: '\2713';
                color: white;
                text-align: center;
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
            }
        }

        &--green {
            display: none;

            &:checked + .cart__color--green:before {
                content: '\2713';
                color: white;
                text-align: center;
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
            }
        }

        &--red {
            display: none;

            &:checked + .cart__color--red:before {
                content: '\2713';
                color: white;
                text-align: center;
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
            }
        }

        &--brown {
            display: none;

            &:checked + .cart__color--brown:before {
                content: '\2713';
                color: white;
                text-align: center;
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
            }
        }

        &--black {
            display: none;

            &:checked + .cart__color--black:before {
                content: '\2713';
                color: white;
                text-align: center;
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
            }
        }
        
        &--caption, &--size {
            color: $cart-text;
            font-size: 16px;
        }

        &--size {
            padding-left: 85px;
        }

        &--select {
            padding-left: 5px;
            padding-right: 3px;
            border-radius: 4px;
            text-align: center;
            border: none;
            background-color: $grey-text;
            color: white;
            appearance: none;
            font-family: $font-face;
            user-select: none;
        }

    }

    &__price {
        flex-basis: 45px;
        text-align: left;
    }
    &__quantity {
        flex-basis: 120px;
        text-align: center;

        &--minus {
            @include button($item-red, 25px);
            height: 25px;
        }

        &--plus {
            @include button($item-green, 25px);
            height: 25px;
        }
        &--sum {
            display: inline-block;
            width: 30px;
            padding-bottom: 5px;
        }
    }

    &__total {
        flex-basis: 80px;
        text-align: right;
    }

    &__subtotal {        
        width: 87.8%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        padding-left: 60px;
        padding-right: 120px;
        padding-bottom: 14px;
        padding-top: 26px;
        position: relative;

        &--text {
            color: $cart-text;
            font-size: 16px;
        }

        &--price {
            position: absolute;
            right: 48px;
            top: 23px;
        }
    }

    &__footer {           
        padding-top: 16px;
        padding-bottom: 30px;        
        padding-right: 20px;
        padding-left: 60px;
        width: 92%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-content: center;

        &--continue {
            color: $blue-light;
            font-weight: normal;
        }

        &--btn {
            @include button($green, 157px);
            font-weight: normal;
            height: 48px;
            color: white;
        }
    }
}

@media (max-width: 720px) {
    .cart {
        &__line {
        flex-direction: column;
        width: 20%;
        padding: 0;
        margin: 0;
        margin-top: 60px;
        }

        &__item {
            text-align: center;
            width: 100%;
            flex-direction: column;
            padding: 0;
            flex-basis: 280px;

            &--photo, &--product {
                width: 100%;
                font-size: 16px;
            }

            &--main {
                padding-top: 15px;
                flex-basis: calc(280px - 15px);
            }
        }

        &__main {
            padding: 0;
        }

        &__price, &__quantity, &__total {
            flex-basis: 50px;
        }

        &__item, &__price, &__quantity, &__total {
            display: block;
            text-align: center;

            &--main {
                padding-top: 15px;
            }
        }

        &__form {
                
            &--size {
                padding: 0;
                padding-top: 70px;
                display: block;
                width: 100%;
                text-align: center;
            }

            &--color, &--shoes {
                display: block;
                width: 100%;
                text-align: center;
                position: relative;

                i::before {
                    top: 10px;
                    left: 45%;
                }
    
                .cart__color--yellow:before {        
                    background-color: $item-yellow;
                }
                
                .cart__color--blue:before {        
                    background-color: $item-blue;
                    top: 35px;
                    left: 45%;
                }
    
                .cart__color--green:before {        
                    background-color: $item-green;
                    top: calc(35px + 25px);
                    left: 45%;
                }
    
                .cart__color--red:before {        
                    background-color: $item-red;
                    top: calc(35px + 2 * 25px);
                    left: 45%;
                }
    
                .cart__color--brown:before {        
                    background-color: $item-brown;
                    left: 45%;
                    top: 10px;
                }
    
                .cart__color--black:before {        
                    background-color: $item-black;
                    top: calc(35px + 3 * 25px);
                    left: 45%;
                }
    
                .shoes__color--black:before {
                    top: 35px;
                    left: 45%;
                }
            }
        }
            
    }
}

@media (max-width: 550px) {
    .cart {
        width: 100%;

        &__footer {
            padding-left: 20px;
        }
    }
}